@import url("styles/menu.css");
@import url("styles/home.css");
@import url("styles/busqueda.css");
@import url("styles/estrenos.css");
@import url("styles/peliculas.css");
@import url("styles/login.css");
@import url("styles/footer.css");
@import url("styles/registrarse.css");
@import url("styles/pelicula.css");

:root {
    --col-de-nav: #d60000;
    --col-de-link: #000;
    --col-de-btn: #830d3a;
    --col-de-btn-hover: #9c2a43c7;
    --col-de-fondo: #111111;
    --col-de-input:#FFAD6A;
    --col-de-link:#a3484f;
}

body {
    background-color: var(--col-de-fondo);
}

.bg-body-tertiary {
    background-color: var(--col-de-nav) !important;
}

/* Botones */
.btn-outline-success {
    background-color: var(--col-de-btn);
    color: #fff;
    border: 1px solid var(--col-de-btn);
    white-space: nowrap;
 
}

.btn-outline-success:hover {
    background-color: var(--col-de-btn-hover) !important;
    border: 1px solid var(--col-de-btn-hover);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* titulos secciones */

.title {
    font-size: 1.7rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    margin-left: 20px
}

/* inputs */
input:focus{
    border:2px solid var(--col-de-input) !important;
    box-shadow: none !important;
}

/* label */
label{
    font-size: 1rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
}



/* For Tablets:*/
@media only screen and (min-width: 768px) {
    .title{
        font-size: 3rem;
    }

    label{
        font-size: 1.1;
    }
}