:root {
    --col-de-nav: #d60000;
    --col-de-btn-hover: #9c2a43c7;
}


.navbar-brand,
.nav-link,
.navbar-nav,
.nav-link.active {
    color: #fff !important;
}

header {
    background-color: var(--col-de-nav);
}


.navbar-container {
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    --state-menu: translate(-100%);
    background-color: var(--col-de-nav);
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;



}

.navbar-container:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0);
}


.nav-hamburguer,
.nav-close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav-hamburguer {
    transform: var(--state-hamburguer);
    background-color: var(--col-de-btn);
    padding: 10px;
    border-radius: 100px;

}

.nav-hamburguer:focus,
.nav-hamburguer:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: #fff;

}


.nav-container-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* padding-left: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: var(--col-de-nav);
    z-index: 98;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav-close {
    transform: var(--state-close);
    z-index: 99;
}

.nav-logo {

    grid-column: -20/1;
    grid-row: 2/1;
    z-index: 1;

}

.nav-btn {
    display: none;
}

.nav-icon {
    color: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.nav-icon:hover {
    color: var(--col-de-btn-hover);

}

#check {
    display: none;
}

nav label {
    background-color: var(--col-de-btn);
    padding: 10px;
    border-radius: 100px;
}

.nav-btn-list,
.nav-btn-close {
    width: 25px;
    height: 25px;
}

.nav-btn-list:focus {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.dropdown-center {
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    background-color: var(--col-de-nav);
    border: none;
}


.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: var(--col-de-btn-hover);
    color: #fff;
}

.form-search {
    padding: 20px;
}

.form-search input {
    height: 30px;
}

.form-search button {
    height: 30px;
    padding: 0px 10px;
}

/* For tablets : */
@media only screen and (min-width: 768px) {
    .check-btn {
        display: none;
    }

    .nav-hamburguer,
    .nav-close {
        display: none;
    }

    .navbar-container {
        grid-template-columns: max-content max-content max-content;
    }

    .nav-container-link {
        position: inherit;
        flex-direction: row;
        transform: var(--state-hamburguer);
    }

    .nav-logo {
        grid-column: inherit;
        grid-row: inherit;
    }

    .nav-login {
        display: none;
    }

    .nav-btn {
        display: block;
    }



}