.terminos,
a {
    white-space: nowrap;
    color: #9E9E9E;
    text-decoration: none;
}

.terminos a:hover {
    color: #d9534f;
}

.fondo {
    background-image: linear-gradient(rgba(56, 52, 52, 0.5), rgba(7, 0, 0, 0.8)), url("../imagenes/fondo-registro.jpg");
    background-size: cover;
    min-height: 500px;
    height: 100vh;
    background-position: center;

    color: white;
}